body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}

h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background-color: #333;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  gap: 10px;
}

.product {
  width: calc((100% - 50px) / 4);
  border: 1px solid #ddd;
  padding: 0px 0px 10px 0px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  border-radius: 8px 8px 0 0;
  height: auto;
}

.product .content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.product h2 {
  font-size: 18px;
  color: #333;
  margin: 15px 0 10px;
}

.product .content p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #b5411d;
}

.product .button {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}

button {
  padding: 10px 15px;
  background-color: rgba(160, 185, 183, 0.619);
  color: black;
  box-shadow: 7px 7px 12px 3px #b2adadf4;
  border-radius: 10px;
  border: 1px solid rgba(160, 185, 183, 0.619);
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(99, 166, 162, 0.819);
}

a {
  text-decoration: none;
  color: black;
}